

body {
    background-color: white;
}
.Home {
    display: flex;
    justify-content: right;
    font-family: 'Orbitron', sans-serif;
    font-size: 80px;
    gap: 25px;
    text-align: center;
    margin: auto;
    margin-top: 200px;
    width: 700px;
    color: white;
    background-color: black;
    height: 200px;
    padding-top: 45px;
    padding-right: 25px;
}
.logo {
    color: white;
}
.number {
    width: 50px;
}


    
    
    
    